*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Sacramento', cursive;
font-family: 'Source Serif Pro', serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url("images/background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 108px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 23px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black ;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
    text-align: center;
}
.text-box h1{
    font-size: 54px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 21px;
    color: #332C39;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #525050 ;
    background: #525050;
    transition: 1s;
}
/*----------textbody------*/
.textbody{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
h1{
    font-size: 43px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 19px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.text-col{
    flex-basis: 31%;
    background: #DFE8CC;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.text-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.gallery{
    width: 80%;
    height: 843.87px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.gallery-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.gallery-col img{
    
    width:  100%;
    height: 70%;
    object-fit: cover;
    display: block;
}
.layer{
    background: transparent;
    height: 70%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(179, 229, 190, 0.6);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;

}
.ourgoals{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.ourgoals-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.ourgoals-col img{
    width:  100%;
    height: 70%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}
.ourgoals-col p{
    padding: 0;
}
.ourgoals-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
.wisdom{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.wisdom-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #DFE8CC ;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.wisdom-col p{
    padding: 0;
}
.wisdom-col h3{
    margin-top: 15px;
    text-align: left;
}
.signup{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/newsletter.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.signup h1{
    color: white;
    margin-bottom: 40px;
    padding: 0;
}
.signup p{
    color: white;
    margin-bottom: 40px;
    padding: 0;
} 
.signup a{
    color: white;
}
.aboutus{
    width: 80%;
    margin: auto;
    padding: 30px 0;
    text-align: center;
}
.aboutus h1{
    font-size: 43px;
    font-weight: 600;
}
.aboutus p{
    color: black;
    font-size: 19px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    margin-bottom: 25px;
}
.about-us{
    
    object-fit: cover;
    width: 100%;
    margin: auto;
    padding: 30px 0;
    text-align: center;
}
.about-us h1{

}